.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.3s;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.services-list div a {
    text-decoration: none;
    color: #cdcdcd;
    font-size: 14px;
    font-weight: 600;
    margin-top: 23px;
    display: inline-block;
}

.services-list div p {
    font-size: 15px;
    color: #cdcdcd;
}
