*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #080808;
    color: #f0f0f0;
    height: 100%; /* added */
  }