div.slider {
    aspect-ratio: 16 / 9;
    width: 80%;
    max-width: 75rem;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5rem;
}

div.slider__images {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: ease-out 0.75s margin-left;
    z-index: 1;
}

div.slider__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
    z-index: 2;
}

div.slider__nav div {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: gray;
    transition: 0.2s background-color;
}

div.slider__nav div.active {
    background-color: red;
}
